@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #010326;
  color: #6FBFBF;
  text-align: center;
  
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1{
  font-size: 70px;
}


h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}
nav{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  height: 100px;
  background-color: #010326;
}


/*Navbar*/
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #6FBFBF;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0.75em;
	font-size: 16px;
	font-weight: bold;
	color: #6FBFBF;
	text-decoration: none;
  border-radius: 20px;
  background-color: #393E59;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #6FBFBF;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
/*Titel*/
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 1.5em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

@media screen and (max-width: 628px) {
.ml9{
  width: auto;
  justify-content: center;
  font-size: 40px;
  padding-top: 0.5em;
}
}

/*Skills*/

.wrapper{
  position: center;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
 
  
}
section {
  scroll-margin: 7em;
}

.container{
  width: 100%;
  padding: 30px 30px 50px;
  background-color: #393E59;
  border-radius: 10px;
  position: center;
  margin: 3em 2em;
  

} 

.container *{
  font-weight: 500;
  background-color: #393E59;
  position: center;

}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 2px solid #6FBFBF;
  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #6FBFBF;
}

.skills:not(:last-child){
  margin-bottom: 30px;
}

#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{ 
  100%{
      width: 80%;
  }
}

#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}

#javascript-bar{
  animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
  100%{
      width: 50%;
  }
}

#angular-bar{
  animation: angular-fill 2s forwards;
}
@keyframes angular-fill{
  100%{
      width: 75%;
  }
}

#python-bar{
  animation: python-fill 2s forwards;
}
@keyframes python-fill{
  100%{
      width: 60%;
  }
}

/*Ueber Mich*/

.li {
  width: 300px;
  margin: auto;
}

.timeline {
  border-top: 4px solid;
  border-color: #010326 !important;
  margin:0; padding: 30px;
  position: relative;
}



.timeline:nth-child(even):before {
  right: 100%; 
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #010326;
  text-align:center;
  color: white;
  font-size: 110%;
}

.timeline:nth-child(odd):before {
  left: 100%; 
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: #010326;
  text-align:center;
  color: white;
  font-size: 110%;
}



.timeline:nth-child(even) {
  border-left: 4px solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

.timeline:nth-child(odd) {
  border-right: 4px solid;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

.timeline:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.timeline:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

/*Footer */
#map {
  height: 300px;
  z-index: 60;
}