/*Hobbies*/

.hobbies {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  
  }
  .item:hover {
    flex: 7;
  }
  .item-1 {
    background-image: url('img/berge.jpg');
  }
  .item-2 {
    background-image: url('img/freund.jpg');
  }
  .item-3 {
    background-image: url('img/familie.jpg');
  }
  .item-4 {
    background-image: url('img/winter.jpg');
  }
  .item-5 {
    background-image: url('img/freunde.jpeg');
  }
  .social {
    position: absolute;
    right: 35px;
    bottom: 0;
  }
  .social img {
    display: block;
    width: 32px;
  }